<div class="center jumbotron">
  <h1>Welcome to Africa's Talking UI/UX Code Challenge</h1>

  <h2>
    For more information on this challenge visit the <a href="#">GitHub repo</a>
  </h2>

  <%= link_to "Sign up now", "#", class: "btn btn-lg btn-primary" %>
</div>

<!--%= link_to image_tag("at.png", alt: "Communications and Payment APIs for Africa"),
      "https://africastalking.com/" % -->
