<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AT-2018-Challenge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/styles.css"/> <!--link to css-->
    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
    <!--header-->
    <div class="header">
        <img src="https://africastalking.com/img/new/at-logo.png" class="logo">
    </div>
    <div class="wrapper">
    <div class="form">
        <h1>Sign up</h1>
        <form action="/" method="POST">
            <label>Username</label><br>
            <input type="text" name="username" required /> <br><br>
            <label>Phone Number</label><br>
            <input type="number" name="phone" placeholder="+2547xxxxxxxx" required /> <br><br>
            <label>Password</label><br>
            <input type="password" name="password" required /> <br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>


</body>
</html>