body {}

h1 {
    color: blue
}

.reg_card {
    -webkit-box-shadow: 10px 10px 32px 1px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 10px 10px 32px 1px rgba(0, 0, 0, 0.61);
    box-shadow: 10px 10px 32px 1px rgba(0, 0, 0, 0.61);


}