<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Africastalking 2FA challenge</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

  <div id="back">
  <div class="backRight"></div>
  <div class="backLeft"></div>
</div>

<div id="slideBox">
  <div class="topLayer">
    <div class="left">
      <div class="content">
        <h2>Sign Up</h2>
        <form method="post" action="verify" onsubmit="return false">
          <div class="form-group">
            <input id="name" type="text" name="name" placeholder="John Doe" required />
            <input id="number" type="text" name="number" placeholder="+254 712 345678" required />
            <input id="password" type="password" name="password" placeholder="password" required />
            <input id="password-confirm" type="password" name="password-confirm" placeholder="confirm password" required />
          </div>
          <!-- <div class="form-group"></div>
          <div class="form-group"></div>
          <div class="form-group"></div> -->
        <!-- </form> -->
        <button id="goLeft" cslass="off" type="button">Sign Up</button>
        <!-- <button>Sign up</button> -->
      </div>
    </div>
    <div class="right">
      <div class="content">
        <h2>Verification</h2>
        <p id="vermessage"></p>
        <!-- <form method="post" onsubmit="return false;"> -->
          <div class="form-group">
            <label for="code" class="form-label">One Time Password</label>
            <input id="code" type="number" name="code" placeholder="123456" required/>
          </div>

          <button id="login" type="submit">Verify and Finish</button>
          <button id="goRight" class="off">Go Back</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Inspiration from: http://ertekinn.com/loginsignup/-->
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script  src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</html>
