html,body{
    position: relative;
    background-color: #00b3b3;
    text-decoration: none;
    color: white;
    margin-left: 0em;
    margin-top: 0em;
    margin-right: 0em;
    overflow: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 90%;
}
.nav{
    width: 100%;
    background-color:teal;
    color: white;
    overflow: hidden;
}
.title{
    font-weight: bolder;
    font-size: 1em;
}
.nav a{
    color: white;
    text-decoration: none;
    font-size:1em;
    margin: 0.5em 0.5em 0.5em 0.5em;
    padding: 0.01em;
    float: left;
    padding: 1em;
}
.nav .right{
    float: right;
}
.content{
    float: left;
    width: 40%;
    border-style: solid;
    margin-top: 4em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
    border-color:wheat;
    text-align: center;
    color:white;
    font-weight: bolder;
    border-radius: 1em;
}
.button{
    background-color: teal;
    color: white;
    border: none;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: center;
    border-radius: 0.5em;
    font-size: 100%;
}
.button a{
    text-decoration: none;
    color: white;
    font-size: 100%;
}
footer{
    background-color: teal;
    text-align: center;
    color: white;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 4em;
    margin-top: 100%;
    margin-bottom: 0px;
    width: 100%;
    position: fixed;
}
footer .text{
    padding-top: 1em;
    padding-bottom: 0em;
    padding-bottom: 0em;
}
.form-container{
    position: relative;
    /* padding:1em;
    border-color:wheat; */
    left: 30%;
    /* font-weight: bolder;
    border-radius: 1em; */
}
.input-field{
    width: 100%;
}
.input-label{
    float:left;
}
/* #email,#passwd{
    border-style: none;
    border-radius: 0.5em;
    width: 50%;
    height: 100%;
    font-size: 90.5%;
} */
input{
    width: 60%;
    border-radius: 0.5em;
    border-style: none;
    height: 2em;
    /* text-align: center; */
}
label{
    font-weight: bolder;
    font-size: 100%;
}
a:hover{
    color: orange;
}
.button:hover{
    color: orange;
}
.table-container{
    position: absolute;
    left: 20%;
    margin-top: 2em;
    margin-left: 2em;
    margin-bottom: 2em;
    font-weight: bold;
}
textarea{
    width: 60%;
}
.view{
    border-style:none;
    left: 2%;
    text-align: left; 
    width: 90%;
}