<footer>
  <div id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div id="contact-left">
            <h3>Africa's Talking</h3>
            <p>
              A unified API platform for software developers in Africa building SMS, USSD, Voice, Payments and Airtime applications.
            </p>
            <div id="contact-info">
              <address>
                <strong>Kenya Ofiice</strong>
                <p>Galana  Rd,<br>
                   Nairobi, Kenya
                </p>
              </address>
              <div id="phone-email-box">
                <p>
                  <strong>Phone:</strong><span>(0) +254 700 123 456</span><br>
                  <strong>Email:</strong><span>africanvybe@at.com</span><br>
                  <strong>Box:</strong><span>40100-1234, Nairobi</span>
                </p>
              </div>
            </div>
            <ul class="social-list">
              <li><a href="#" class="social-icon icon-white"><i class="fab fa-linkedin-in"></i></a></li>
              <li><a href="#" class="social-icon icon-white"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#" class="social-icon icon-white"><i class="fab fa-google-plus-g"></i></a></li>
              <li><a href="#" class="social-icon icon-white"><i class="fab fa-youtube"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div id="contact-right">
            <h3>Contact Us</h3>
            <form action="#">
              <input type="text" name="full-name" placeholder="Full Name" class="form-control">
              <input type="text" name="email" placeholder="Email Address" class="form-control">
              <textarea name="message" rows="5" placeholder="Message goes here..." class="form-control"></textarea>

              <div id="send-btn">
                <a class="btn btn-lg btn-general btn-white" role="button" href="#">Send</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xl-12">
          <div id="footer-copyrights">
            <p>
              Copyright &copy; 2018 All Rights Reserved by Afica's Talking Inc
            </p>
          </div>
        </div>
        <div class="col-md-6 d-none d-lg-block d-xl-none">
          <div id="footer-menu">
            <ul>
              <li><a class="smooth-scroll" href="#home">Pricing</a></li>
              <li><a class="smooth-scroll" href="#services">Docs</a></li>
              <li><a class="smooth-scroll" href="#work">Payments</a></li>
              <li><a class="smooth-scroll" href="#team">USSD</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <a class="smooth-scroll d-none d-sm-block" href="#home" role="button">
    <div id="back-to-top" class="btn btn-sm btn-blue btn-back-to-top smooth-scroll" title="home">
      <i class="fas fa-angle-up"></i>
    </div>
  </a>
</footer>
